# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/search/node_modules

# testing
/coverage

# production
/build

# photos
/public/data/**/*.JPG
/public/data/**/*.jpg
/public/data/**/*.jpeg
/public/data/**/*.webp
/raw/**/*.JPG
/raw/**/*.jpeg
/raw/**/*.PNG

# video
/raw/**/*.mp4
/raw/**/*.MOV
/public/data/**/*.mov
/public/data/**/*.MOV

#python
*.pyc

# misc
.DS_Store
Thumbs.db

# env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode
.idea
