[Unit]
Description=Search service for photos.skirienko.info

[Service]
Environment=NODE_PORT=5005
ExecStart=/usr/bin/node /var/www/photos.skirienko.info/search/search.js
Type=simple
Restart=always
User=www
