.app__header {
  padding: 1em 2%;
  color: #222;
}

.app__content {
  margin: 1em 2%;
}

.app__title {
  font-size: 1.5em;
}

a.app__home[href] {
  color: #336699;
}
a.app__home[href]:hover {
  color: #CC3333;
}
