body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.events-list {
  list-style: none;
}

.events-list .event-item {
  margin: 0 20px 20px 0;
}

.events-list .event-item img {
  display: block;
  border: 1px solid silver;
}

.event-date {
  color: #999;
}

.episode {
  margin-top: 32px;
}
.episode p {
  max-width: 1200px;
  margin: 16px 0 8px 0;
}

.stretch {
  width: 100%;
  max-width: 1200px;
  
}

.photo {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.67%;
}

.photo.vertical {
  padding-bottom:150%;
}
.photo img {
  width: 100%;
}
