:root {
  --action-color: #336699;
  --action-underline-color: #33669966;

  --action-focus-color: #CC3333;
  --action-focus-underline-color: #CC333366;
}

html.scroll-snap {
  scroll-snap-type: y proximity;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
html.scroll-snap body {
  scroll-snap-type: y proximity;
}

a {
  color: var(--action-color);
  text-decoration: underline var(--action-underline-color) 1pt;
  text-underline-offset: 2pt;
}
a:hover, a:focus {
  color: var(--action-focus-color);
  text-decoration-color: var(--action-focus-underline-color);
}

input[type=search] {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1rem;
  appearance: none;
  height: 1.7rem;
  border: 1px solid gray;
  border-radius: .25rem;
  background-color: #FFFFFF33;
  transition: background-color 1s ease-out 0;
}
input[type=search]:focus, input[type=search]:not(:placeholder-shown) {
  background-color: #FFFFFF;
}

.events__list, .results__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px 10px;
  list-style: none;
  padding: 0;
}

.events__item, .results__item {
  margin: 0;
}

.progressive-img {
  width: max-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: rgb(80, 80, 80, .2);
}

.progressive-img img {
  opacity: 0;
}

.events__item a {
  display: block;
  width: max-content;
  margin: auto;
  text-decoration: none;
  transition: all .5s ease-out;
}

.events__item img {
  display: block;
  object-fit: cover;
  border: 1px solid silver;
  transition: all .5s ease-out;
}
.events__item a:hover img, .results__item a:hover img {
  border-color: var(--action-focus-color);
}

.events__item .event-title, .result__descr {
  line-height: 1.5;
}

.events__item.album .event-title, .tags-link a {
  font-weight: bold;
}

.events__item.album .event-title::before {
  content: "❖";
  padding-right: .25em;
}

.results__item a {
  text-decoration: none;
  color: #666;
  transition: all .5s ease-out;
}
.results__item img {
  display: block;
  object-fit: cover;
  border: 1px solid silver;
  transition: all .5s ease-out;
}

.result__descr:first-letter {
  text-transform: uppercase;
}

.event__date, .result__tags {
  color: #777;
}

.event__toc {
  font-style: italic;
  max-width: 600pt;
  line-height: 1.5;
}

.event__toc:first-letter {
  text-transform: uppercase;
}

.event__toc a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.event__toc a:hover {
  color: #333;
  border-bottom-color: #333;
}

@media screen and (max-width:919px) {

  .episode__tags {
    font-size: .9rem;
  }

  .event__toc {
    font-size: 16px;
  }
}

.event__title:first-letter {
  text-transform: uppercase;
}

.event__subtitle {
  font-size: 1.2em;
  padding-top: 24px;
}

.event__subtitle:first-letter {
  text-transform: uppercase;
}

.episode {
  margin-top: 32px;
}

.episode p {
  max-width: 1200px;
  margin: 16px 0 8px 0;
}

.experimental {
  display: none;
}

@supports (scroll-snap-align: start) {
  .experimental {
    display: block;
  }
}

.scroll-snap .episode p, .scroll-snap .event__subtitle {
  scroll-snap-align: start;
  scroll-margin: 8px;
  scroll-snap-margin: 8px; /* Safari */
}

.episode p .cnt {
  color: #777;
}

.episode .episode__tags {
  text-align: end;
  margin: 8px 0;
  font-size: .9rem;
}

.episode__tags .tag {
  color: inherit;
  opacity: .5;
  text-underline-offset: 2pt;
  text-decoration-color: #00000033;
  list-style-type: "#";
  margin-left: .5em;
}

.episode__tags .tag:before {
  content: "#";
}

.episode__tags .tag:hover {
  color: #333;
  opacity: 1;
  text-decoration-color: #333;
}

.stretch {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.photo {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.67%;
  background: linear-gradient(135deg, #ccc 0%, #bbb 100%) #ccc;
}

.photo.vertical {
  padding-bottom:150%;
}

.photo img {
  width: 100%;
}

.tags__list {
  list-style-type: none;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.tags__list li {
  margin-right: .5rem
}

.featured {
  font-weight: bold;
}

.footer__navigation {
  height: 2em;
  margin-top: 1em;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.footer__navigation {
  display: grid;
}

.footer__navigation a {
  text-decoration: none;
  transition: all .5s ease-out;
}

.footer-nav__prev {
  grid-column: 1;
  justify-self: start;
}

.footer-nav__prev a:before {
  content: "< ";
}

.footer-nav__next {
  grid-column: 2;
  justify-self: end;
}

.footer-nav__next a:after {
  content: " >";
}

@media (prefers-color-scheme: dark) {
  :root {
    --action-color: #3590EB;
    --action-underline-color: #3590EB66;

    --action-focus-color: #EB3333;
    --action-focus-underline-color: #EB333366;
  }
  
  body {
    background: #000;
    color: #CCC;
  }
  
  .events__item a img, .results__item a img {
    border-color: #333;
  }

  .event__toc {
    color: #777;
    border-bottom-color: rgba(256, 255, 255, .2)
  }

  .event__toc a {
    border-bottom-color: #222;
  }
  
  .event__toc a:hover {
    color: #CCC;
    border-bottom-color: #CCC;
  }

  .episode__tags .tag {
    text-decoration-color: #222;
  }

  .episode__tags .tag:hover {
    color: #CCC;
    text-decoration-color: #CCC;
  }

  .photo {
    background: #333;
    background: linear-gradient(135deg, #333 0%, #222 100%) #333;
  }
		
  .results__item a {
    color: #999;
  }
}
